.notice{
    background: var(--brightRed) url('../images/bg-simplify-section-mobile.svg') no-repeat left center;
    height: 360px;
    @media (max-width: 800px) {
        text-align: center;
    }
    @media (min-width: 800px) {
        background-image: url('../images/bg-simplify-section-desktop.svg');
        background-position: bottom left 120px;
        height: 220px;
    }
    &__wrapper{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        min-height: 100%;
        @media (min-width: 800px) {
            flex-flow: row;
            justify-content: space-between;
        }
    }
    &__text{
        color: var(--varyLightGray);
        font-size: 40px;
        font-weight: 700;
        line-height: 1.5;
        max-width: 500px;
        @media (min-width: 800px) {
            margin-bottom: 0;
        }
    }
}